.App {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;/* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */ /* You must set a specified height */
  background-position: center; /* Center the image */ /* Do not repeat the image */ /* Resize the background image to cover the entire container */
  position: relative;
  background-image: url("./img/5172658.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  margin-left: 0%;
  margin-right: 0%;
  height: 100vh;
  width:calc(100%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav1{
  height: max-content;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div{
  display: flex;
  box-sizing: border-box;
}

.login{
  z-index: 1;
  display : inline-block;
  margin: 5vh;
  margin-top: 10%;
	width: 500px;
	height:max-content;
  border-radius: 10px;
  text-align: center;
  background-color: #5f5f5f;
  position: static;
}

.title{
  margin-top: 5%;
  color: white;
}

hr{
  margin-right: 10%;
  margin-left: 10%;
  color: rebeccapurple;
}

.inputs{
  display : inline-block;
  height: 50px;
  margin: 10%;
  font-size: larger;
  color: white;
}

.icon-bg{
  background-color: rgba(71,120,219,255);
  border-radius: 5px 0 0 5px;
  height: 50px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  width:50px;
  text-align: center;
}

.icon{
  text-align: center;
  margin:20%;
}

input{
  width: calc(100% - 57px);
  height: 50px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  background: #fff;
  color:black;
}

input:focus{
  outline:none;
}

.container1{
  display : inline-block;
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  background-color: #5f5f5f;
}

.btn{
  background-color: rgba(71,120,219,255);
  border: 1px solid rgba(71,120,219,255);
}

.btn:hover{
  background-color: rgba(0,0,121,255);
  border: 1px solid rgba(0,0,121,255);
}

.labels{
  display: flex;
}

.div-2{
  display: inline-block;
  text-align: center;
}

.label2{
  text-align: center;
}

.navbar-item{
  width: max-content;
  display: inline-block;
  position: relative;
  color:black;
  font-size: 33px;
  margin:25px;
  font-weight:600;
  font-family: "Times New Roman", Times, serif;
}

select{
  width: 140px;
  padding: 5px 35px 5px 5px;
  border: none;
  background-color: transparent;
}

select option{
  margin: 40px;
  border-radius: 10px;
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.dropdown:hover{
  color:cornflowerblue;
}

.containerx{
  background-color: white;
  height: max-content;
}

.home{
  z-index: 1;
}

/*
.hamburgerbtn{
  color: black;
  text-decoration: none;
  background-color: transparent;
  border:none;
}

.hamburgerbtn:hover{
  color:black;
  text-decoration: none;
}

*/

@keyframes width1 {
  from {width: 0px; right: 5%;}
  to {width: 400px; right: 5%;}
}

.navglobal{
  right: 5%;
  left: 5%;
  top: 5%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
  height: 7%;
  z-index: 3;
}

@keyframes bg {
  from {background-color: turquoise;}
  50% {background-color:slateblue;}
  to {background-color: turquoise;}
}

.logo{
  margin-left: 5%;
}

.logo a{
  margin-top: 15%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo a:hover{
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navcontainer{
  right: 0%;
  left: 70%;
  top: 0%;
  bottom: 0%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
}

.navcontainer .btn{
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

.navcontainer .btn:hover{
  background-color: rgba(71,120,219,255);
}

.logo{
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.applogo{
  width: 100px;
  top: 2%;
  left: 8%;
  position: fixed;
}

.nav-item{
  font-size: 18px;
}

.form-select{
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

.cache{
  left: 0%;
  right: 0%;
  top: 0%;
  height: 120px;
  position: fixed;
  z-index: 2;
}

.navcontainer2{
  right: 0%;
  left: 13%;
  width: 15%;
  top: 0%;
  bottom: 0%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
}

.navcontainer2 .btn{
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

.navcontainer2 .btn:hover{
  background-color: rgba(71,120,219,255);
}

.current{
  background-color: rgba(71,120,219,255) !important;
}

.messages{
  margin-top: 8%;
  margin-right: 10%;
  margin-left: 10%;
  height: 75%;
  border-radius: 10px;
  display: flex;
  background-color: #5f5f5f;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}


.refresh{
  height: fit-content;
  position: relative;
  z-index: 5;
}

.conv{
  width: 30%;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  background-color: #5f5f5f;
  border: 1px solid black;
}

.sep{
  width: 5%;
}

.mess{
  width: 65%;
  float: right;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: #5f5f5f;
  z-index: 1;
  position: relative;
}

.header{
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  width: 100%;
  height: 15%;
  border-radius: 10px 10px 0px 0px;
  background-color: #5f5f5f;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid black;
}

.discussion-content{
  width: 100vh;
  background-color: #5f5f5f;
  display: block;
  overflow: hidden;
}

.end-ref{
  margin-bottom: 0px;
}

.discussion-header{
  float: center;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 10px;
}

.discussion-render{
  background-image: url("./img/fond2.jpg");
  background-size: cover;
  display: block;
  height: 70%;
  border: 1px solid white;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  overflow-y: auto;
}

.styledButton{
  background-color: transparent;
  color: white;
  box-shadow: none;
  border: none;
}

.user{
  color: red;
  font-size: 20px;
  justify-content: right;
}

.message-unit{
  padding: 10px;
  height: fit-content;
}

.message-unit .content{
  justify-content: center;
  display: inline-block;
  min-width: 50px;
  max-width: 500px;
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: 1px 1px 2em black;
  padding: 5px;
}

.else{
  color: blue;
  justify-content: left;
  font-size: 20px;
}

.discussion-input{
  display: flex;
  position: relative;
  height: 15% !important;
  margin-bottom: 0px;
  padding: 10px;
}

.posts{
  color: white;
  font-size: 25px;
}

.submit{
  height: fit-content;
  margin-left: 10px;
}

.add-discussion{
  height: fit-content;
  width: fit-content;
  position: relative;
  z-index: 10;
  margin-left: 20px;
  border-radius: 50%;
  font-size: 15px;
}

.add-disc{
  z-index: 1;
  display : inline-block;
  margin: 5vh;
  margin-top: 10%;
	width: 500px;
	height:max-content;
  border-radius: 10px;
  text-align: center;
  background-color: #5f5f5f;
  position: static;
}

.discussion-inputbar{
  border-radius: 5px 5px 5px 5px;
  position: relative;
  width: 90vh;
  height: fit-content;
}

.chat-icon{
  margin-top: 7%;
  margin-left: 10%;
}

.pad{
  margin-left: 15%;
  margin-top: 5%;
  font-weight: 600;
}

.disc{
  height: max-content;
  border-radius: 0px 0px 10px 10px;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  overflow-y: hidden;
  flex-direction:column-reverse;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: #5f5f5f;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disc-item{
  height: 15%;
  width: 100%;
  border-radius: 0px;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  display: flex;
}

.disc-item:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.picture{
  border-radius: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  background-color: white;
  height: 40px;
  width: 40px;
}

.name{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.home{
  display: block;
}

.former{
  width: 100%;
  height: 70vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 8%;
  position: relative;
}

.carouself{
  border-radius: 10px;
}

.former .centered{
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.back1{
  background-image: url("./img/fond3.PNG");
  background-size: cover;
}

.back2{
  background-image: url("./img/fond3.PNG");
  background-size: cover;
}

.former .designedby{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: white;
}

.former .psycorp{
  font-size: 50px;
  color: white;
  font-family: "Ink Free";
}

.second .contain{
  height: max-content;
  min-height: 150px;
  display: inline-block;
  position: relative;
  padding-left: 35%;
  padding-right: 35%;
  z-index: 2;
}

.second .contain .slogan{
  text-align: center;
  color: white;
  font-size: 30px;
  display: inline-block;
}

.blue-span{
  color:cornflowerblue;
  margin-left: 10px;
}

.hrs{
  color: white;
}

.img-second{
  width: 200px;
  height: 200px;
  margin-top: 5px;
  margin-left: 20%;
  z-index: 1;
  position: absolute;
}

.logout{
  background-color: white;
}

/*
.navbarexpanded .hamburgerbtn{
  position: absolute;
  width: max-content;
  height: max-content;
  right: 0%;
  margin-top: 8px;
}

.navbarunexpanded{
  display: flex;
  flex-wrap: wrap;
  left: 5%;
  right: 5%;
  z-index: 2;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.navglobal{
  border-radius: 10px;
  position: fixed;
}
*/
